html, body{
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(6, 16.6%);
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    'header header header header header header'
    'nav content content content aside aside'
    'nav footer footer footer footer footer';
}


@media(max-width: 1024px) {
  .grid-container {
    grid-template-columns: 75% 25%;
    grid-template-rows: 20% 10% 50% 20%;
    grid-template-areas:
    "header header"
    "nav nav"
    "content aside"
    "footer footer";
  }
}

@media(max-width: 640px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 50% 10% 10%;
    grid-template-areas:
      "header"
      "nav"
      "content" 
      "aside"
      "footer";
  }
}

.header{ 
  grid-area: header;
  background-color: #BC5148;
}
.nav{ 
  grid-area: nav; 
  background-color: #3090A1;   
}
.content{
  grid-area: content;
  background-color: #FEF8E6; 
}
.aside{ 
  grid-area: aside; 
  background-color: #3090A1; 
}
.footer{ 
  grid-area: footer; 
  background-color: #7BCECC; 
}